
{%extends 'include.html'%}
{%load static%}
{%block title%}<title>Главная</title>{%endblock%}
{%block content%} 
<div class="content">
    <div class="liders">
        <div style="border-bottom: 2px solid #ccc;" class="newLiderCat">
            <p class="lideryPros bottBorder">Лидеры просмотров</p>
            <a href="{%url 'CreateRoom'%}"><p class="lideryPros">Чат Комнаты</p></a>

        </div>
        <div class="posts">
                <div class="post">
                    <img src="{%static 'img/nozh.jpg'%}" alt="">
                    <p class="lideryPros">Убери нож, прошу.</p>
                    <p class="nums">5/10</p>
                </div>
                <div class="post">
                    <img src="{%static 'img/zxcursed.jpg'%}" alt="">
                    <p class="lideryPros">Медиа-гигант.</p>
                    <p class="nums">7/10</p>
                </div> <div class="post">
                    <img src="{%static 'img/jotaro.jpg'%}" alt="">
                    <p class="lideryPros">Джотаро быкует.</p>
                    <p class="nums">9/10</p>
                </div> <div class="post">
                    <img src="{%static 'img/DIO.jpg'%}" alt="">
                    <p class="lideryPros">На Джотаро быкуют.</p>
                    <p class="nums">3/10</p>
                </div> <div class="post">
                    <img src="{%static 'img/touch it.jpg'%}" alt="">
                    <p class="lideryPros">Take it, touch it...</p>
                    <p class="nums">8/10</p>
                </div> <div class="post">
                    <img src="{%static 'img/minecraft.jpg'%}" alt="">
                    <p class="lideryPros">Собака с печеньем.</p>
                    <p class="nums">10/10</p>
                </div>
        </div>
    </div>
    <div class="cats">
        <div class="newLiderCat">
            <p class="lideryPros">Cat vibe zone</p>

        </div>
        {%if request.user.is_authenticated%}
        <div class="post">
            <img src="{%static 'img/1.jpg'%}" alt="">
            <p class="CatsText">Кот стильный в очках.</p>
            <p class="nums">8/10</p>
        </div>    <div class="post">
            <img src="{%static 'img/2.jpg'%}" alt="">
            <p class="CatsText">Кот закрыл рот.</p>
            <p class="nums">6/10</p>
        </div>    <div class="post">
            <img src="{%static 'img/3.jpg'%}" alt="">
            <p class="CatsText">Кот открыл рот.</p>
            <p class="nums">7/10</p>
        </div>    <div class="post">
            <img src="{%static 'img/4.jpg'%}" alt="">
            <p class="CatsText">Кот повесился(Я).</p>
            <p class="nums">10/10</p>
        </div>
        {%else%}
        <p class="textPreviev">Ты что?</p>
        <p class="textPreviev">Хочешь без <a href="{%url 'login'%}"><i>авторизации</i></a> увидеть китиков???😠</p>
        {%endif%}
    </div>
</div>
<div style="height: 100px;"></div>
{%endblock%}