{%extends 'include.html'%}
{%load static%}
{%block title%}<title>Чат Комнаты</title>{%endblock%}

{%block content%}

<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>



{%if request.user.is_authenticated%}
  <script>
    $(document).ready(function () {

      setInterval(function () {
        $.ajax({
          type: 'GET',
          url: "/getMessages/{{room}}/",
          success: function (response) {
            $("#display").empty();
            for (var key in response.messages) {
              if(response.messages[key].user != '{{user.username}}'){
                  var temp = "<div class='mess'><b>" + response.messages[key].user + "</b><p>" + response.messages[key].value + "</p><span class='time-left'>" + response.messages[key].date + "</span></div>";
                }
                else{
                  var temp = "<div class='Usermess'><b>" + response.messages[key].user + "</b><p class='usermessage'>" + response.messages[key].value + "</p><span class='time-left usermessage'>" + response.messages[key].date + "</span></div>";                  
                }
              $("#display").append(temp);
            }
          },
          error: function (response) {
            console.log('Ошибка')
          }
        });
      }, 500);
    })
  </script>
  <div class="room">
    <div id="display"></div>
    <div class="container">
      <form id="post-form">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{user.username}}" />
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}" />
        <input type="text" name="message" id="message" width="100px" />
        <input type="submit" value="Отправить" class="sender">
      </form>
    </div>
  </div>



<script type="text/javascript">
  $(document).on('submit', '#post-form', function (e) {
    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: '/send',
      data: {
        username: $('#username').val(),
        room_id: $('#room_id').val(),
        message: $('#message').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (data) {
        //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>
{%else%}
    <h3 class="DoNotReg">Регисрируйтесь или войдите чтобы находится в комнате</h3>
{%endif%}
<style>
    .footer *{
        margin: 0;
        height: 0;
        font-size: 0;
    }
    .footer{
        height: 0px;
    }
</style>


{%endblock%}