{%extends 'include.html'%}
{%load static%}
{%block title%}<title>Пользователи</title>{%endblock%}

{%block content%}
<div class="content">
    <div class="liders">
        <div style="border-bottom: 2px solid #ccc;" class="newLiderCat">
            <a href="{%url 'home'%}"><p class="lideryPros">Лидеры просмотров</p></a>
            <a href="{%url 'CreateRoom'%}"><p class="lideryPros">Чат Комнаты</p></a>
        </div>
        <div class="posts">
            {%for i in Users%}
            <div class="user">
                <div class="NameAndInst">
                    <p class="username">
                            <a class="username">{{i.username}} </a>
                    </p>
                    <hr>
                    <div class="l">     
                        {%if i.email%}
                            <p class="email shadText"><i style="color: gray;">Email: </i> {{i.email}} </p>
                        {%endif%}
                        {%if i.last_login %}
                            <p class="shadText fs15"><i style="color: gray;">Authorized: </i>{{i.last_login}} </p>
                        {%endif%}
                        <p class="shadText fs15"><i style="color: gray;">Reg Date: </i>{{i.date_joined}} </p>
                    </div>
                </div>
                    
            </div>
        {%endfor%}

        </div>
    </div>
</div> 
{%endblock%}